extends ../layouts/application

block title
  title Powered by Glyp

block content
  .container
    .jumbotron
      h1 Powered by Glyp!
      p.
        Glyp is a simple static site template powered by Gulp and Bower. It is fully extensible and includes jQuery and Bootstrap out of the box.
